#btn1{
    position: relative;
    top: -160px;
    left: 350px;
}
#btn2{
    position: relative;
    top: -160px;
    left: 450px;
}
#btn3{
    position: relative;
    top: -237px;
    left: 680px;
}#p1{
    position: relative;
    top: -190px;
    left: 655px;
}
